.banner
  background-color: $banner.color
  & > .container
    & > .image
      centralize(block)
      display: block
      image-rendering: pixelated

#just-do-it > .container
  overflow: hidden;
  height: 34.4375rem
