.button
  box-sizing: border-box
  min-width: 11.25rem
  height: 2.875rem
  padding-right: 1rem
  padding-left: @padding-right
  line-height: @height
  font-size: 1rem
  font-weight: bold
  text-align: center
  text-transform: uppercase
  color: #fff
  background-color: #313131
  border-radius: 3px

  &.-primary
    background-color: #ff5c2b
