.footer
  box-sizing: border-box
  height: $footer.height

  > .container
    display: flex
    justify-content: center
    align-items: center
    height: 100%

    > .copyright
      margin: 0
      {$copyright}
