$footer = {
  height: 6rem
}

$copyright = {
  font-size: 1.4rem,
  color: #999
}

.footer
  box-sizing: border-box
  height: $footer.height

  > .container
    display: flex
    justify-content: center
    align-items: center

    > .copyright
      {$copyright}
