.header
  box-sizing: border-box
  height: $header.height
  background-color: $header.color

  & > .container
    centralize(block)
    position: relative
    display: flex
    flex-direction: row
    align-items: center
    height: 100%

.logo
.cart
  & > .image
    display: block

.cart
  position: absolute
  right: 0

  & > .image
    height: 2.75rem
