$header = {
  color: #fff
  height: 7.2rem
}

.header
  box-sizing: border-box
  height: $header.height
  background-color: $header.color

  & > .container
    centralize(block)
    display: flex
    flex-direction: row
