@font-face
  src: local('Roboto'),
    local('Roboto-Regular'),
    url('../asset/font/Roboto.woff') format('woff'),
    url('../asset/font/Roboto.woff2') format('woff2')
  font-family: 'Roboto'

@font-face
  src: local('Roboto'),
    local('Roboto-Bold'),
    url('../asset/font/Roboto-Bold.woff') format('woff'),
    url('../asset/font/Roboto-Bold.woff2') format('woff2')
  font-family: 'Roboto'
  font-weight: bold

@font-face
  src: local('Roboto'),
    local('Roboto-Black'),
    url('../asset/font/Roboto-Black.woff') format('woff'),
    url('../asset/font/Roboto-Black.woff2') format('woff2')
  font-family: 'Roboto'
  font-weight: 900

:root
  font-size: $typography.scale

body
  font-size: $typography.font-size
  font-family: unquote($typography.font-family)
