extends base/layout

block content
  include base/header

  main

    section.banner
      figure.container
        img.image(src=require('../asset/image/banner.png'), alt="3 - Finish It", title="Jogador de futebol chutando uma bola e uma mensagem \"3 - Finish it\" com uma tipografia agressiva.")

    section.store
      header.control
      .error
        h3 Ops!
        p Tivemos um problema ao carregar os itens da loja.
      .shelf.best-sellers
      .shelf.releases

    section#just-do-it.banner
      figure.container
        img.image(src=require('../asset/image/players.png'))

  include base/footer
