// Base settings
@import 'base/*'

// Helper settings
$breakpoint = {
  point: {
    sm: 54.4rem / 1.6,
    md: 102.4rem / 1.6,
    lg: 128rem / 1.6,
    xl: 160rem / 1.6
  }
}

$grid = {
  cols: 12,
  static-size: 7rem
}

@import 'helper/*'

@import 'component/*'
