// Base settings
@import 'base/*'

// Helper settings
$breakpoint = {
  point: {
    sm: 54.4rem,
    md: 102.4rem,
    lg: 128rem,
    xl: 160rem
  }
}

$grid = {
  cols: 12,
  static-size: 7rem
}

@import 'helper/*'

@import 'component/*'
